<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">GesMenu <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/consumabile/update" routerLinkActive="true">Update</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/consumabile/list" routerLinkActive="true">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/consumabile/insert" routerLinkActive="true">Insert</a>
      </li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>