<p>consumabile-list works!</p>
<div class="container">
<div class="row mt-5">
    <div class="col">
        <table class="table">
            <thead>
                <th>Codice</th>
                <th>Nome</th>
                <th>Descrizione</th>
                <th>Tipologia</th>
            </thead>
            <tbody>
                <!-- DA RIEMPIRE AUTOMATICAMENTE-->
            </tbody>
        </table>

    </div>
</div>
</div>